.gallery-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 64px;
}

.gallery-image {
  max-width: 500px;
  width: 30%;
}
